.foo1
	h4 Footer
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae consequuntur nemo excepturi autem debitis dolore nulla maxime quaerat aut laborum? Sunt expedita cum libero quas.
.foo2
	p Copyright &copy; 2016.Business.
	p Suported by #[span.res Servidor].Developed by #[span.res Servidor].
