doctype html
html(lang="es")
	head
		title Business
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", href="css/fontello.css")
		link(rel="stylesheet", href="css/index.css")
	body
		.contenedor
			header
				include menu.jade
			.slider
				include slider.jade

			main
				.ban
					p Please consider #[span.res Small donation]
					p fot this awesome theme

				include sections.jade

			footer
				include footer.jade

	script(src="js/jquery-1.12.3.min.js")
	script(src="js/menu.js")
	script(src="js/slider.js")

