.menu
	.logo 
		h1 Busines
		p Awesone Drupal Theme
	#icon-menu.icon-align-justify
	nav
		ul
			li: a(href="#") Home
			li: a(href="#") About
			li: a(href="#") Typography
			li: a(href="#") Block Regions
			li: a(href="#") Blogs
			li: a(href="#") Contact