section#uno
	article
		h2 Home Highlight 1
		img(src="img/art1.jpg", alt="imagen_section1")
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos distinctio tempora a iure aliquam harum perferendis. Consequuntur, ipsa reiciendis harum dolor aliquam sunt cumque, corporis quia quidem ipsam repudiandae. Maxime rem laboriosam suscipit veritatis optio exercitationem quo asperiores sit mollitia!
	article
		h2 Home Highlight 2  
		img(src="img/art2.jpg", alt="imagen_section2")
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi possimus nesciunt facilis. Hic autem, deleniti repellendus accusamus eius tenetur nemo dolorem sapiente? Distinctio molestias eligendi iure eveniet minus atque, pariatur officiis explicabo, natus sunt dolorem quae rerum! Error, iste, atque.
	article
		h2 Home Highlight 3 
		img(src="img/art3.jpg", alt="imagen_section3")
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sit doloribus minima molestiae repudiandae, repellendus sunt nihil fuga quos, nobis facilis dolorum! Vel, quam ut! Recusandae iusto hic eligendi, quae dignissimos, ut id repellat sunt error expedita quibusdam rerum laboriosam!
		
		//
			-for($i = 1; $i <=3;$i++)
				article
					h2 Home Highlight #{$i}
					img(src="img/art#{$i}.jpg", alt="imagen_section#{$i}")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus reprehenderit, itaque eaque dicta minima! Quisquam eaque laborum sit magni, tenetur laboriosam esse ab, perferendis a ea et suscipit molestiae tempora alias, libero, voluptatum expedita quam.

section#dos
	article
		h3 Fisrt Bottom
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo consequuntur, cumque animi est minima, in corporis, nulla, labore facere nemo aliquid obcaecati beatae quae doloremque at reiciendis illum pariatur dolores vero? Veniam, ullam, deserunt?
	article
		h3 Second Bottom
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis itaque facilis a non nesciunt, ratione, similique, dolores, eos excepturi voluptatem ea. A itaque, impedit nam voluptatum commodi non ducimus tempore quis voluptatem, sequi consequatur sunt?
	article
		h3 Third Bottom
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repellat, mollitia exercitationem quos eius dicta voluptas autem officiis dignissimos placeat quia, iure nesciunt voluptatum nulla laudantium saepe. Quis harum ut reprehenderit, sed animi necessitatibus iste!
	article
		h3 Fourth bottom
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam mollitia, modi asperiores suscipit obcaecati amet blanditiis quos assumenda veritatis inventore facere vel atque architecto. Iure, sequi, blanditiis. Perspiciatis esse, ipsa debitis molestiae, doloremque quo possimus!