div.slider-container
	ul.slider-wrapper#slider
		li.current
			img(src="img/1.jpg", alt="imagen1")
			.caption
				h3.caption-title  Lorem ipsum.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, iste.
		li
			img(src="img/2.jpg", alt="imagen1")
			.caption
				h3.caption-title  Dolor sit amet.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, facere.
		li
			img(src="img/3.jpg", alt="imagen3")
			.caption
				h3.caption-title  Smet, consectetur.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, facere!


	//Sombra
	.shadow

	//Controles slider
	ul#slider-controls.slider-controls